node_modules/*
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.development.dev
.env.test.dev
.env.production.dev
.env.development.test
.env.test.test
.env.production.test
.env.development.production
.env.test.production
.env.production.production
.env.development.development.local
.env.test.development.local